{% extends "home.html" %}
{% block content %}
    <div class='w-1/2 mx-auto'>
        <ul>
        {% for message in messages %}
            <li class="bg-green-500 text-white px-1 py-2 rounded-lg">{{message}}</li>
        {% endfor %}
        </ul>
        <form action="" method='POST'>
            {% csrf_token %}
            {{form}}
            <div class='text-center mt-4'><button type="submit" class="px-2 py-1 text-white bg-blue-500 rounded-lg">Create Group</button></div>
        </form>
    </div>
{% endblock content %}