{% extends "home.html" %}
{% block content %}
    <div class="w-1/2 mx-auto">
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 text-green-500">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <div class="text-center text-white mt-5"><button class='bg-blue-500 px-3 py-2 rounded-lg' type="submit">Sign In</button><span class='pl-2 text-black'><a href="{% url "password-reset" %}">Forget Password?</a></span></div>
        </form>
    </div>
{% endblock content %}