<!-- Navbar -->
  <nav class="bg-blue-800 shadow-lg sticky top-0 z-50">
    <div class="mx-auto px-6 py-4 flex justify-between items-center flex-wrap">
      <a href="{% url "home" %}" class="text-3xl font-bold text-white tracking-wide">🎉 Event Management</a>
      <div class="space-x-4 -translate-x-24">
        <a href="{% url "event-list" %}" class="text-white hover:text-yellow-300 {% if request.path == '/event/events/' %}font-semibold underline{% endif %}">Events</a>
      </div>
      <div class="flex gap-2">
        <a href="{% url "sign-in" %}" class="text-white font-bold bg-gradient-to-r from-blue-500 to-green-400 transition-all duration-300 hover:from-green-400 hover:to-blue-500 hover:-translate-y-0.5 px-4 py-2 rounded-md ">Sign In</a>
        <a href="{% url "sign-up" %}" class="text-white font-bold bg-gradient-to-r from-green-400 to-blue-500 hover:from-blue-500 hover:to-green-400 px-4 py-2 rounded-md">Sign Up</a>
      </div>
    </div>
  </nav>